.button-icon{
    display: flex;
    margin-right: 5px;
    font-size: 1.3rem;
}
.button {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
.button-primary{
    background-color: var(--primary-color);
    color: var(--secondary-text-color);
}
.button-primary:hover{
    background-color: var(--primary-color-dark);
    border: 2px solid var(--primary-color);
}
.button-primary-disabled{
    color: var(--color-gray);
    background-color: var(--primary-color-dark);
}
.button-primary-disabled:hover{
    color: var(--color-gray);
    background-color: var(--primary-color-dark);
}
.button-outline-secondary{
    background-color: transparent;
    border: 2px solid var(--primary-color);
    color: var(--primary-text-color);
}
.button-outline-secondary:hover{
    background-color: var(--primary-color);
}
.button-loader {
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate3d(-50%, -50%, 0);
}
.button-loading {
    color: transparent;
}