.right-sidebar-user {
    display: flex;
    align-items: center;
    margin: 1rem 0.5rem;
}
.right-sidebar-user-image-container {
    width: 55px;
    height: 55px;
    margin: 0 0.2rem 0 0.5rem;
}
.right-sidebar-user-text-container {
    font-size: 0.9rem;
}
.right-sidebar-follow-button {
    font-size: 1.8rem;
    margin: 0 1rem 0 auto;
    cursor: pointer;
}
.right-sidebar-follow-button:hover {
    color: var(--primary-color);
}