.navbar-user {
    display: flex;
    align-items: center;
    margin: 1rem 0.5rem;
    cursor: pointer;
}
.navbar-user:hover{
    background-color: var(--color-white);
}
.navbar-user-image-container {
    width: 55px;
    height: 55px;
    margin: 0 0.2rem 0 0.5rem;
}
.navbar-user-text-container {
    font-size: 0.9rem;
}
