.mobile-footer {
    position: fixed;
    display: none;
    background-color: var(--background-color-dark);
    z-index: var(--z-index-highest);
    bottom: 0px;
    left: 0px;
    width: 100%;
    justify-content: space-around;
}
.mobile-footer-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0.3rem 0;
}
.mobile-footer-active {
    color: var(--primary-color);
}
.footer-icon {
    font-size: 2rem;
    margin: 0.1rem 0;
    cursor: pointer;
}
.footer-icon:hover {
    color: var(--primary-color);
}
@media only screen and (max-width: 768px) {
    .mobile-footer {
        display: flex;
    }
}