@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Poppins:wght@300;400;500;600&family=Redressed&display=swap');
body {
    margin: 0;
    font-family: 'Poppins';
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    box-sizing: border-box;
    background-color: var(--background-color);
}
  

:root{
  --app-max-width: 75rem;

  --primary-text-color: #323232;
  --secondary-text-color: #ffffff;
  --primary-color: #2d3092;
  --dark-primary-color: #272a7d; 
  --background-color: #f7fafb;
  --background-color-dark:#e9ebec;
  --color-black: #000000;
  --color-white: #ffffff;
  --color-yellow: #ffc83d;
  --color-gray: #808080;

  --z-index-highest: 1000;
  --z-index-medium: 500;
  --z-index-low: 10;

}
.primary-text-color {
  color: var(--primary-text-color);
}
