@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Poppins:wght@300;400;500;600&family=Redressed&display=swap');
body {
    margin: 0;
    font-family: 'Poppins';
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    box-sizing: border-box;
    background-color: var(--background-color);
}
  

:root{
  --app-max-width: 1200px;

  --primary-text-color: #323232;
  --secondary-text-color: #ffffff;
  --primary-color: #2d3092;
  --background-color: #f7fafb;
  --color-black: #000000;
  --color-white: #ffffff;

}
.primary-text-color {
  color: var(--primary-text-color);
}
